<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
    <div>请先登录，咸菜罐头专用</div>
    <form action="{{ url_for('.post_login') }}" method="post">
        <div class="">
            <input class="input isdiv" type="text" name="qq" required="required" placeholder="这里输入群里qq号">
            <br>
            <input class="input isdiv" type="text" name="password" required="required" placeholder="这里输入密码">
            <br>
            <button>登录</button>
        </div>
    </form>
    <br>
    <br>
    <form action="{{ url_for('.get_all') }}" method="get">
        <button>游客点我查看所有数据</button>
    </form>
</body>
</html>